# DOHMH MenuStat Historical

* [data.cityofnewyork.us](https://data.cityofnewyork.us/Health/DOHMH-MenuStat-Historical-/qgc5-ecnb)

* [menustat.org](https://www.menustat.org/data.html)
* [Dataset](https://data.cityofnewyork.us/api/views/qgc5-ecnb/rows.csv?date=20231011&accessType=DOWNLOAD) (auto-download)</br>
* [Data Dictionary](https://data.cityofnewyork.us/api/views/qgc5-ecnb/files/a809c011-fd64-46ef-8b6c-fdfaa9a8148c?download=true&filename=DOHMH_MenuStat_DD.xlsx) (auto-download)

* x[Question Matrix]()</br>
* x[Questionnaire]()</br>
* x[Codebook]()</br>

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# pd.options.display.float_format = "{:,.0f}".format
%matplotlib inline

In [242]:
df = pd.read_csv("DOHMH_MenuStat__Historical__20231011.csv", low_memory=False)

In [288]:
df.iloc[:5,:20][:2]

,Menu_Item_ID,Year,Restaurant_Item_Name,restaurant,Restaurant_ID,Item_Name,Item_Description,Food_Category,Serving_Size,Serving_Size_text,Serving_Size_Unit,Serving_Size_household,Calories,Total_Fat,Saturated_Fat,Trans_Fat,Cholesterol,Sodium,Potassium,Carbohydrates
0,35005,2017,7 Eleven Mocha Iced Coffee,7 Eleven,1,Mocha Iced Coffee,"Mocha Iced Coffee, Chillers Iced Coffee, Drinks",Beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35008,2017,7 Eleven French Vanilla Iced Coffee,7 Eleven,1,French Vanilla Iced Coffee,"French Vanilla Iced Coffee, Chillers Iced Coff...",Beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# df.iloc[:5,20:40]

In [22]:
# df.iloc[:5,40:]

In [244]:
# df.info()

In [38]:
df.isnull().sum()

In [24]:
df.describe()

,Menu_Item_ID,Year,Restaurant_ID,Serving_Size,Calories,Total_Fat,Saturated_Fat,Trans_Fat,Cholesterol,Sodium,...,Sodium_100g,Potassium_100g,Carbohydrates_100g,Protein_100g,Sugar_100g,Dietary_Fiber_100g,Kids_Meal,Limited_Time_Offer,Regional,Shareable
count,"65,219","65,219","65,219","26,899","55,315","54,846","54,143","51,503","53,219","54,991",...,"25,853",623,"25,592","25,531","25,207","25,391","65,219","65,219","65,219","65,219"
mean,"103,164","2,017",53,92,380,17,6,0,57,687,...,292,134,15,5,8,1,0,0,0,0
std,"60,360",0,27,173,421,25,13,11,105,"1,064",...,"1,448",120,20,7,16,3,0,0,0,0
min,7,"2,017",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25%,"39,362","2,017",30,12,130,0,0,0,0,80,...,12,37,6,0,1,0,0,0,0,0
50%,"122,345","2,017",56,24,270,9,4,0,20,310,...,60,117,12,2,5,0,0,0,0,0
75%,"156,752","2,018",79,98,500,23,9,0,69,930,...,475,198,19,7,11,1,0,0,0,0
max,"179,840","2,018",94,"3,792","13,960","1,078","2,046","1,470","2,680","41,290",...,"209,000",561,"1,800",425,"1,800",400,1,1,1,1

In [29]:
df.restaurant.nunique()

96

In [39]:
df.restaurant.unique()

In [32]:
df.Year.unique()

array([2017, 2018])

In [28]:
df.Item_Name.nunique()

46995

In [27]:
df.Item_Name.unique()

array(['Mocha Iced Coffee', 'French Vanilla Iced Coffee',
       'French Vanilla Cappuccino', ...,
       'Butter, Regular, for Junior Hot Hoagies',
       'Sweet Black Pepper Bacon Wake Up Wrap', 'Whiskey Smash'],
      dtype=object)

In [284]:
# sns.jointplot(data=df, x='Serving_Size', y='Calories', kind='scatter');

In [74]:
# #adjusting scale
# sns.jointplot(data=df, x='Serving_Size', y='Calories', kind='scatter', xlim=(0,4000), ylim=(0,6000));
# # what are the outliers?

In [290]:
# # ignore outliers and zoom in dense data points
# sns.jointplot(data=df, x='Serving_Size', y='Calories', kind='scatter', xlim=(0,1500), ylim=(0,4000));

In [85]:
# serving size > 1000?
print('serving size nunique:', df.Serving_Size.nunique())
print('serving size unique:', df.Serving_Size.unique())
print('serving size max:', df.Serving_Size.max())

serving size nunique: 1163
serving size unique: [  nan   8.  227.  ... 419.9 700.  547. ]
serving size max: 3792.0

In [90]:
# what are the serving size units?
print('serving size nunique:', df.Serving_Size_Unit.nunique())
print('serving size unique:', df.Serving_Size_Unit.unique())

serving size nunique: 4
serving size unique: [nan 'fl oz' 'g' 'oz' 'ml']

In [283]:
# what items have the most calories?
df.loc[:, ['Restaurant_Item_Name',
           'Calories','Serving_Size', 
           'Serving_Size_Unit', 
           'Serving_Size_text',
           'Serving_Size_household']].sort_values(by='Calories', ascending=False).head(2)
# family sized meals are included in items list (in addition to individual servings?)

,Restaurant_Item_Name,Calories,Serving_Size,Serving_Size_Unit,Serving_Size_text,Serving_Size_household
34320,White Castle Crave Crate w/ Any 100 Sliders in...,"13,960",NaN,NaN,NaN,NaN
56976,Dickey's Barbeque Pit Prime Rib,"10,205",NaN,NaN,NaN,7 lb

In [281]:
# what are the serving size household?
print('serving size household nunique:', df.Serving_Size_household.nunique())
# print('serving size household unique:', df.Serving_Size_household.unique())

serving size household nunique: 815

In [280]:
# what items are duplicated?
df.loc[:, ['Restaurant_Item_Name',
           'Calories','Serving_Size', 
           'Serving_Size_Unit', 
           'Serving_Size_text',
           'Serving_Size_household',
          'Food_Category']].sort_values(by='Restaurant_Item_Name', ascending=False).head(2)
# some items are duplicates with NaN

,Restaurant_Item_Name,Calories,Serving_Size,Serving_Size_Unit,Serving_Size_text,Serving_Size_household,Food_Category
41062,"Zaxby's Zestable Sauce, 1 Portion Cup",190,43,g,NaN,NaN,Toppings & Ingredients
34980,"Zaxby's Zestable Sauce, 1 Portion Cup",220,50,g,NaN,NaN,Toppings & Ingredients

In [279]:
# what are the food categories?
df.loc[:, ['Restaurant_Item_Name',
            'Food_Category',
           'Calories',
#            'Serving_Size', 
#            'Serving_Size_Unit', 
#            'Serving_Size_text',
           'Serving_Size_household'
          ]].sort_values(by='Calories', ascending=False).head(2)
# entrees and desserts top calories

,Restaurant_Item_Name,Food_Category,Calories,Serving_Size_household
34320,White Castle Crave Crate w/ Any 100 Sliders in...,Burgers,"13,960",NaN
56976,Dickey's Barbeque Pit Prime Rib,Entrees,"10,205",7 lb

In [132]:
# what are the food categories?
print('food category nunique:', df.Food_Category.nunique())
print('food category unique:', df.Food_Category.unique())
# do eda with select categories 

# 'Salads'
# 'Entrees'
# 'Appetizers & Sides' 

# Fried Potatoes is a food category?

food category nunique: 12
food category unique: ['Beverages' 'Entrees' 'Pizza' 'Sandwiches' 'Burgers' 'Salads'
 'Appetizers & Sides' 'Baked Goods' 'Desserts' 'Soup'
 'Toppings & Ingredients' 'Fried Potatoes']

In [291]:
# how caloric are salads? are they 'healthy'?
df_salads_mask = (df['Food_Category'] == 'Salads')
df_salads = df[df_salads_mask]
df_salads.loc[:, ['Restaurant_Item_Name',
                  'Food_Category',
                  'Calories',
                  'Total_Fat', 
                  'Saturated_Fat',
                  'Trans_Fat', 
                  'Cholesterol', 
                  'Sodium', 
                  'Potassium', 
                  'Carbohydrates',
                  'Protein', 
                  'Sugar', 
                  'Dietary_Fiber',
          ]].sort_values(by='Calories', ascending=False).head(2)
# high in calories, but low in saturated and trans fat?

,Restaurant_Item_Name,Food_Category,Calories,Total_Fat,Saturated_Fat,Trans_Fat,Cholesterol,Sodium,Potassium,Carbohydrates,Protein,Sugar,Dietary_Fiber
58717,"Carrabba's Italian Grill Bread Herbs & Oil, Se...",Salads,"3,190",119,17,0,0,"5,690",NaN,466,78,6,17
60423,"Carrabba's Italian Grill Italian Salad, Serves 10",Salads,"2,680",255,40,0,85,"4,280",NaN,77,26,35,29

In [276]:
# how many salads are there? #1807
num_salads = df.where(df["Food_Category"] == 'Salads')['Menu_Item_ID'].count()

In [277]:
# how many salads are over 1000 calories? #117
num_salads_hical = df_salads.where(df_salads['Calories'] > 1000)['Menu_Item_ID'].count()

In [278]:
print('Of', num_salads, 'salads', num_salads_hical, 
      'are over 1,000 calories (',round(num_salads_hical/num_salads*100), '%).')

Of 1807 salads 117 are over 1,000 calories ( 6 %).

In [345]:
# how caloric are entrees? are they 'healthy'?
df_entrees_mask = (df['Food_Category'] == 'Entrees')
df_entrees = df[df_entrees_mask]
df_entrees.loc[:, ['Restaurant_Item_Name',
                   'Item_Description', 
#                   'Food_Category',
                  'Calories',
                  'Total_Fat', 
                   'Serving_Size_household', 
          ]].sort_values(by='Calories', ascending=False).head(5)
# high calorie entrees include family meals/packs (e.g., bbq feast, turkey)

,Restaurant_Item_Name,Item_Description,Calories,Total_Fat,Serving_Size_household
56976,Dickey's Barbeque Pit Prime Rib,"Prime Rib, Seasonal Items","10,205",NaN,7 lb
39870,"Famous Dave's Rib Tips Til Payday, Dinner","Rib Tips Til Payday, Dinner Platters; Choice o...","9,240",556,1 order
42004,Dickey's Barbeque Pit Smoked Turkey,"Smoked Turkey, Seasonal Items","8,213",NaN,11 lb
10884,Friendly's Buttermilk Pancakes w/ Pork Sausage...,"Buttermilk Pancakes w/ Pork Sausage Links, Off...","8,020",36,NaN
56249,Famous Dave's All American BBQ Feast w/ Georgi...,"All American BBQ Feast w/ Spareribs, Whole Roa...","7,520",408,Full order

In [340]:
df_entrees.loc[:, ['Restaurant_Item_Name',
                   'Item_Description', 
#                   'Food_Category',
                  'Calories',
                  'Total_Fat', 
                   'Serving_Size_household', 
          ]].sort_values(by='Calories', ascending=True).head(5)
# items ranked descending by calorie appear to low for some items (e.g., prosciutto wrapped shrimp: 10 calories)

,Restaurant_Item_Name,Item_Description,Calories,Total_Fat,Serving_Size_household
3705,Carrabba's Italian Grill Filet w/ Prosciutto W...,"Filet w/ Prosciutto Wrapped Shrimp, Combinatio...",10,53,NaN
36655,Golden Corral Shrimp,"Shrimp, Fish & Seafood",20,0,1/4 Cup
46594,Long John Silver's 3 Baked Shrimp,"3 Baked Shrimp, Alaskan Pollock & Seafood",25,0,3 Pieces
15612,Long John Silver's 3 Baked Shrimp,"3 Baked Shrimp, Alaskan Pollock & Seafood",25,0,3 Pieces
53411,"Panda Express Mixed Veggies, Entree, Kids","Mixed Veggies, Entree, Vegetables, Kids Meal, ...",30,0,NaN

In [321]:
# are items high in saturated fat?
df.loc[:,['Restaurant_Item_Name', 
          'Food_Category',
          'Calories', 
          'Saturated_Fat',
          'Trans_Fat', 
          'Total_Fat', 
          'Cholesterol', 
         ]].sort_values(by='Saturated_Fat', ascending=False).head(5)
# what are the units of saturated fat? calories or grams? 
# calorie and fat look erroneous, don't add up across.

,Restaurant_Item_Name,Food_Category,Calories,Saturated_Fat,Trans_Fat,Total_Fat,Cholesterol
12395,Hardee's 1/3 lb Budweiser Beer Cheese Bacon Th...,Burgers,790,"2,046",NaN,46,115
43386,LongHorn Steakhouse Fried Pickles,Appetizers & Sides,390,435,0,25,0
58760,Sonic Peanut Butter & Cookie Dough Dream Maste...,Beverages,"2,120",315,2,130,210
51822,"Sonic Turtle Pecan Master Blast, Large",Beverages,"1,820",308,2,99,215
48320,"Dairy Queen Cookie Dough Blizzard Cake, 10 in",Desserts,"7,560",241,6,332,360

*You should limit saturated fat to less than 10% of your daily calories. For a 2,000-calorie diet, that is 200 calories or 22 grams (g) of saturated fats a day.* <br/> â€“[MedlinePlus](https://medlineplus.gov/ency/patientinstructions/000838.htm#:~:text=You%20should%20get%20no%20more,of%20saturated%20fats%20a%20day.)

In [320]:
# are items high trans fat?
df.loc[:,['Restaurant_Item_Name', 
          'Food_Category',
          'Calories',           
          'Trans_Fat',
          'Saturated_Fat',
          'Total_Fat', 
          'Cholesterol', 
         ]].sort_values(by='Trans_Fat', ascending=False).head(5)
# what are the units of trans fat? calories or grams? 
# calorie and fat look erroneous, don't add up across.

,Restaurant_Item_Name,Food_Category,Calories,Trans_Fat,Saturated_Fat,Total_Fat,Cholesterol
59122,TGI Friday's Rib Eye & Lobster Tail w/ Mashed ...,Entrees,"1,080","1,470",18,26,127
55324,TGI Friday's Petite Sirloin & Lobster Tail w/ ...,Entrees,890,"1,460",18,26,101
50084,"TGI Friday's Rib Eye, Local",Entrees,560,870,3,0,64
62271,"TGI Friday's Petite Sirloin, Local",Entrees,370,860,3,0,38
39942,TGI Friday's Add On Lobster Tail,Toppings & Ingredients,120,600,3,0,23

*Your body does not need trans fat. You should avoid it or eat as little as possible. Here are recommendations from the 2020-2025 Dietary Guidelines for Americans: You should get no more than 25% to 30% of your daily calories from fats.* <br/> -[MedlinePlus](https://medlineplus.gov/ency/patientinstructions/000786.htm#:~:text=Your%20body%20does%20not%20need%20trans%20fat.,your%20daily%20calories%20from%20fats.)

In [ ]:
# column names

# 'Menu_Item_ID',  
# 'Year', 
# 'Restaurant_Item_Name', 
# 'restaurant',
# 'Restaurant_ID', 
# 'Item_Name', 
# 'Item_Description', 
# 'Food_Category',

# 'Serving_Size', 
# 'Serving_Size_text', 
# 'Serving_Size_Unit',
# 'Serving_Size_household', 

# 'Calories', 
# 'Total_Fat', 
# 'Saturated_Fat',
# 'Trans_Fat', 
# 'Cholesterol', 
# 'Sodium', 
# 'Potassium', 
# 'Carbohydrates',
# 'Protein', 
# 'Sugar', 
# 'Dietary_Fiber', 

# 'Calories_100g', 'Total_Fat_100g','Saturated_Fat_100g', 'Trans_Fat_100g', 'Cholesterol_100g',
# 'Sodium_100g', 'Potassium_100g', 'Carbohydrates_100g', 'Protein_100g',
# 'Sugar_100g', 'Dietary_Fiber_100g', 'Calories_text', 'Total_Fat_text',
# 'Saturated_Fat_text', 'Trans_Fat_text', 'Cholesterol_text',
# 'Sodium_text', 'Potassium_text', 'Carbohydrates_text', 'Protein_text',
# 'Sugar_text', 'Dietary_Fiber_text', 'Kids_Meal', 'Limited_Time_Offer',
# 'Regional', 'Shareable'