# DOHMH MenuStat Historical

* [data.cityofnewyork.us](https://data.cityofnewyork.us/Health/DOHMH-MenuStat-Historical-/qgc5-ecnb)

* [menustat.org](https://www.menustat.org/data.html)
* [Dataset](https://data.cityofnewyork.us/api/views/qgc5-ecnb/rows.csv?date=20231011&accessType=DOWNLOAD)</br>
* [Data Dictionary](https://data.cityofnewyork.us/Health/DOHMH-MenuStat-Historical-/qgc5-ecnb#:~:text=DOHMH_MenuStat_DD.xlsx)

* x[Question Matrix]()</br>
* x[Questionnaire]()</br>
* x[Codebook]()</br>

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

from mdb_parser import MDBParser, MDBTable

pd.options.display.float_format = "{:,.0f}".format
%matplotlib inline

In [47]:
df = pd.read_csv("DOHMH_MenuStat__Historical__20231011.csv", low_memory=False)

In [48]:
df

,Menu_Item_ID,Year,Restaurant_Item_Name,restaurant,Restaurant_ID,Item_Name,Item_Description,Food_Category,Serving_Size,Serving_Size_text,...,Sodium_text,Potassium_text,Carbohydrates_text,Protein_text,Sugar_text,Dietary_Fiber_text,Kids_Meal,Limited_Time_Offer,Regional,Shareable
0,35005,2017,7 Eleven Mocha Iced Coffee,7 Eleven,1,Mocha Iced Coffee,"Mocha Iced Coffee, Chillers Iced Coffee, Drinks",Beverages,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
1,35008,2017,7 Eleven French Vanilla Iced Coffee,7 Eleven,1,French Vanilla Iced Coffee,"French Vanilla Iced Coffee, Chillers Iced Coff...",Beverages,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
2,35027,2017,7 Eleven French Vanilla Cappuccino,7 Eleven,1,French Vanilla Cappuccino,"French Vanilla Cappuccino, Coffee, Drinks, Fla...",Beverages,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0
3,35028,2017,7 Eleven Peppermint Mocha,7 Eleven,1,Peppermint Mocha,"Peppermint Mocha, Coffee, 8 fl oz",Beverages,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
4,35029,2017,7 Eleven Pumpkin Spice Latte,7 Eleven,1,Pumpkin Spice Latte,"Pumpkin Spice Latte, Coffee, 8 fl oz",Beverages,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65214,118344,2018,"Einstein Bros Frozen Mocha, 24 fl oz",Einstein Bros,31,"Frozen Mocha, 24 fl oz","Frozen Mocha w/ 2% Milk, 24 fl oz, Classic, Be...",Beverages,24,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
65215,153014,2018,Dunkin' Donuts Sweet Black Pepper Bacon Wake U...,Dunkin' Donuts,30,Sweet Black Pepper Bacon Wake Up Wrap,"Sweet Black Pepper Bacon Wake Up Wrap, Breakfa...",Sandwiches,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
65216,174902,2018,LongHorn Steakhouse Whiskey Smash,LongHorn Steakhouse,53,Whiskey Smash,"Whiskey Smash w/ Jim Beam Bourbon, Fresh Squee...",Beverages,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
65217,131673,2018,Golden Corral Chicken Enchilada,Golden Corral,37,Chicken Enchilada,"Chicken Enchilada, Chicken & Turkey",Entrees,127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
65218,136001,2018,"Del Taco Street Tacos, Carne Asada",Del Taco,27,"Street Tacos, Carne Asada",Street Tacos in 2 Tortillas w/ Carne Asada Ste...,Sandwiches,113,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65219 entries, 0 to 65218
Data columns (total 49 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Menu_Item_ID            65219 non-null  int64
 1   Year                    65219 non-null  int64
 2   Restaurant_Item_Name    65219 non-null  object
 3   restaurant              65219 non-null  object
 4   Restaurant_ID           65219 non-null  int64
 5   Item_Name               65219 non-null  object
 6   Item_Description        65219 non-null  object
 7   Food_Category           65219 non-null  object
 8   Serving_Size            26899 non-null  float64
 9   Serving_Size_text       39 non-null     object
 10  Serving_Size_Unit       26927 non-null  object
 11  Serving_Size_household  15238 non-null  object
 12  Calories                55315 non-null  float64
 13  Total_Fat               54846 non-null  float64
 14  Saturated_Fat           54143 non-null  float64
 15  Trans_Fat               51503 non-null  float64
 16  Cholesterol             53219 non-null  float64
 17  Sodium                  54991 non-null  float64
 18  Potassium               1098 non-null   float64
 19  Carbohydrates           54288 non-null  float64
 20  Protein                 54233 non-null  float64
 21  Sugar                   52931 non-null  float64
 22  Dietary_Fiber           53440 non-null  float64
 23  Calories_100g           25878 non-null  float64
 24  Total_Fat_100g          25686 non-null  float64
 25  Saturated_Fat_100g      25285 non-null  float64
 26  Trans_Fat_100g          23828 non-null  float64
 27  Cholesterol_100g        25126 non-null  float64
 28  Sodium_100g             25853 non-null  float64
 29  Potassium_100g          623 non-null    float64
 30  Carbohydrates_100g      25592 non-null  float64
 31  Protein_100g            25531 non-null  float64
 32  Sugar_100g              25207 non-null  float64
 33  Dietary_Fiber_100g      25391 non-null  float64
 34  Calories_text           303 non-null    object
 35  Total_Fat_text          69 non-null     object
 36  Saturated_Fat_text      50 non-null     object
 37  Trans_Fat_text          10 non-null     object
 38  Cholesterol_text        358 non-null    object
 39  Sodium_text             93 non-null     object
 40  Potassium_text          2 non-null      object
 41  Carbohydrates_text      634 non-null    object
 42  Protein_text            467 non-null    object
 43  Sugar_text              591 non-null    object
 44  Dietary_Fiber_text      811 non-null    object
 45  Kids_Meal               65219 non-null  int64
 46  Limited_Time_Offer      65219 non-null  int64
 47  Regional                65219 non-null  int64
 48  Shareable               65219 non-null  int64
dtypes: float64(23), int64(7), object(19)
memory usage: 24.4+ MB

In [50]:
df.describe()

,Menu_Item_ID,Year,Restaurant_ID,Serving_Size,Calories,Total_Fat,Saturated_Fat,Trans_Fat,Cholesterol,Sodium,...,Sodium_100g,Potassium_100g,Carbohydrates_100g,Protein_100g,Sugar_100g,Dietary_Fiber_100g,Kids_Meal,Limited_Time_Offer,Regional,Shareable
count,"65,219","65,219","65,219","26,899","55,315","54,846","54,143","51,503","53,219","54,991",...,"25,853",623,"25,592","25,531","25,207","25,391","65,219","65,219","65,219","65,219"
mean,"103,164","2,017",53,92,380,17,6,0,57,687,...,292,134,15,5,8,1,0,0,0,0
std,"60,360",0,27,173,421,25,13,11,105,"1,064",...,"1,448",120,20,7,16,3,0,0,0,0
min,7,"2,017",1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25%,"39,362","2,017",30,12,130,0,0,0,0,80,...,12,37,6,0,1,0,0,0,0,0
50%,"122,345","2,017",56,24,270,9,4,0,20,310,...,60,117,12,2,5,0,0,0,0,0
75%,"156,752","2,018",79,98,500,23,9,0,69,930,...,475,198,19,7,11,1,0,0,0,0
max,"179,840","2,018",94,"3,792","13,960","1,078","2,046","1,470","2,680","41,290",...,"209,000",561,"1,800",425,"1,800",400,1,1,1,1

In [52]:
df.restaurant.unique()

array(['7 Eleven', "Applebee's", 'Chuck E. Cheese', "Arby's", 'Red Robin',
       "BJ's Restaurant & Brewhouse", 'Bonefish Grill', "Auntie Anne's",
       "Captain D's", 'Wawa', 'Sbarro', 'Bojangles', "O'Charley's",
       'Baskin Robbins', 'Bob Evans', 'Dominos', "Jimmy John's",
       "Friendly's", 'Boston Market', 'Burger King',
       'California Pizza Kitchen', "Carl's Jr.",
       "Carrabba's Italian Grill", "Casey's General Store",
       "Checker's Drive-In/Rallys", 'Chick-Fil-A', "Chili's", 'Chipotle',
       "Church's Chicken", 'Olive Garden', "Hardee's", "Ci Ci's Pizza",
       "Culver's", 'Dairy Queen', 'Einstein Bros', 'Del Taco',
       "Marco's Pizza", "Zaxby's", "Moe's Southwest Grill", "Denny's",
       "Dunkin' Donuts", 'Hooters', 'Firehouse Subs', "Frisch's Big Boy",
       'Outback Steakhouse', 'IHOP', "Jason's Deli", "Famous Dave's",
       "PF Chang's", 'El Pollo Loco', 'Five Guys', 'Panda Express',
       "Joe's Crab Shack", 'Golden Corral', 'In-N-Out Burger',
       'Jack in the Box', 'KFC', 'Jamba Juice', 'Krispy Kreme',
       "McDonald's", "Jersey Mike's Subs", 'Yard House', 'Krystal',
       "Long John Silver's", "Steak 'N Shake", 'Little Caesars',
       'LongHorn Steakhouse', "McAlister's Deli", 'Sheetz',
       'Noodles & Company', 'On the Border', "Papa John's",
       'Panera Bread', 'Popeyes', 'Quiznos', "Papa Murphy's",
       'Tim Hortons', 'Pizza Hut', 'Perkins', "TGI Friday's", 'Qdoba',
       'Red Lobster', "Romano's Macaroni Grill", 'Round Table Pizza',
       'Ruby Tuesday', 'Sonic', 'Taco Bell', 'Starbucks',
       'The Capital Grille', "Wendy's", 'Subway', 'Whataburger',
       'White Castle', 'Wingstop', "Dickey's Barbeque Pit",
       'Potbelly Sandwich Shop'], dtype=object)

In [53]:
df.Year.unique()

array([2017, 2018])

In [54]:
df.Item_Name.unique()

array(['Mocha Iced Coffee', 'French Vanilla Iced Coffee',
       'French Vanilla Cappuccino', ...,
       'Butter, Regular, for Junior Hot Hoagies',
       'Sweet Black Pepper Bacon Wake Up Wrap', 'Whiskey Smash'],
      dtype=object)

In [55]:
df.Item_Name.nunique()

46995